
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PohraniLijek</title>
    <style>
        a {
            text-decoration: none;
            background-color: #2b731e;
            color: white;
            font-family: Calibri;
            border-radius: 10px;
            border: 6px solid #2b731e;
            text-align: center;
            padding: 10px 40px;
        }

        .forma {
            max-width: 50%;
            background: #FAFAFA;
            padding: 30px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div class="forma">
        <a>Uspjesno ste uredili apotekara! </a> <br /> <br /> <br />
        <a href="\Home\Index">Pocetna</a>
    </div>

</body>
</html>