@model AddApotekarVM;
@{
    Layout = "DefaultLayout";
    ViewData["Title"] = "DodajApotekara";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajApotekara</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        .forma {
            max-width: 50%;
            background: #FAFAFA;
            padding: 30px;
            margin: 50px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            border: 6px solid #2b731e;
        }

            .forma input {
                margin-bottom: 20px;
                width: 100%;
                padding: 10px;
                font-family: Calibri;
                font-size: medium;
            }

        select {
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            font-family: Calibri;
            font-size: medium;
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            font-family: Calibri;
            font-size: medium;
        }

        ul {
            padding: 0;
        }

        li {
            margin: 0;
        }

        .forma input {
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            font-family: Calibri;
            font-size: medium;
        }
    </style>
</head>
<body>
    <h1>Dodaj apotekara</h1>
    <form method="post" class="forma">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ime"></label>
            <input asp-for="Ime" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Prezime"></label>
            <input asp-for="Prezime" class="form-control" />
        </div>
        <div class="form-group">
            <label>DatumRodjenja</label>
            <input asp-for="DatumRodjenja" class="form-control" />
            <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Mjesto rodjenja</label>
            <select asp-for="MjestoRodjenjaID" asp-items="Model.MjestoRodjenja">
                <option>Mjesto rodjenja</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="JMBG"></label>
            <input asp-for="JMBG" class="form-control" />
            <span asp-validation-for="JMBG" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>DatumZaposlenja</label>
            <input asp-for="DatumZaposlenja" class="form-control" />
            <span asp-validation-for="DatumZaposlenja" class="text-danger"></span>
        </div>
        <div class="form-group">
            <span asp-validation-for="Telefon" class="text-danger"></span>
            <label asp-for="Telefon"></label>
            <input asp-for="Telefon" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</body>
</html>
