@model LoginVM
@{
    ViewData["Title"] = "User Login";
    Layout = "DefaultLayout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        .forma {
            max-width: 50%;
            background: #FAFAFA;
            padding: 30px;
            margin: 50px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            border: 6px solid #2b731e;
        }

            .forma input {
                margin-bottom: 20px;
                width: 100%;
                padding: 10px;
                font-family: Calibri;
                font-size: medium;
            }

        select {
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            font-family: Calibri;
            font-size: medium;
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            font-family: Calibri;
            font-size: medium;
        }

        ul {
            padding: 0;
        }

        li {
            margin: 0;
        }

        .forma input {
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            font-family: Calibri;
            font-size: medium;
        }
    </style>
</head>
<body>
    <h1>Log in</h1>
    <form method="post" class="forma">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" style="display:inline-block;width:30px" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</body>
</html>
