@inject SignInManager<AppUser> signInManager
@{
    Layout = "DefaultLayout";
    int stanjeKosarice = (int)ViewData["stanjeKosarice"];
}
@model KosaricaView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrikaziLijekove</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <table class="table table-bordered" style="background-color: #2b731e; color: white; box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
           border-radius: 10px;
           border: 6px solid #2b731e; text-align: center; max-width: 50%; margin-left: 25%; margin-top: 5%">

        <tr>

            <th>Naziv lijeka</th>
            <th>Kolicina </th>
            <th>Cijena</th>
            <th>Ukupna cijena</th>
            <th>Modifikuj</th>

        </tr>

        @foreach (var l in Model.podaci)
        {

            <tr style="background-color: #FAFAFA; color:#2b731e; text-align: center">
               
                <td>@l.NazivLijeka</td>
                <td>@l.Kolicina</td>
                <td>@l.Cijena</td>

                <td>@(l.Kolicina * l.Cijena) KM</td>
                <td>
                    <a href="/Narudzba/ObrisiKosaricu?id=@l.KosaricaID" class="btn btn-success">-</a>
                </td>
            </tr>
        }

    </table>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") && stanjeKosarice > 0)
    {

        <a href="/Nabavka/ZapocniNabavku" style="margin-left: 62%" class="btn btn-success">Započni nabavku</a>
        <a>ahshaha</a>
    }
    else if (stanjeKosarice > 0 && signInManager.IsSignedIn(User) && User.IsInRole("Korisnik"))
    {

        <a href="/Narudzba/ZapocniNarudzbu" style="margin-left: 62%" class="btn btn-success">Započni narudžbu</a>

    }
    <a href="/Lijek/PrikaziLijekove" class="btn btn-secondary" style="margin-left: -50.5%">Nazad</a>

</body>
</html>
