@inject SignInManager<AppUser> signInManager
@{
    Layout = "DefaultLayout";

}
@using WebApp_Apoteka.ViewModels;
@model UslugaView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrikaziLijekove</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        tr, td, th {
            border: 1px solid;
            text-align: center;
        }
    </style>
</head>
<body>
    <br /><br />
   
    

        <a href="/Usluga/PrikaziUsluge" class="btn btn-secondary" style="float: left">Nazad</a>

    <br />
    <br />
    <table class="table table-bordered" style="background-color: #2b731e; color: white;

           ">

        <tr>

            <th>Naziv usluge</th>
            <th>Datum održavanja usluge </th>
            <th>Napomena</th>
          
           
                <th>Otkaži</th>

        </tr>

        @foreach (var l in Model.podaci)
        {
            <tr style="background-color: #FAFAFA; color:#2b731e; text-align: center">

                <td>@l.Naziv</td>
                <td>@l.DatumVrijeme</td>
                <td>@l.Napomena</td>
                
                <td>



                    <a href="/Usluga/ObrisiRezervaciju?id=@l.ID&korisnik=@l.korisnikID" class="btn btn-danger">Otkaži</a>

                </td>
            </tr>
        }
    </table>
</body>
</html>